@font-face {
  font-family: 'carimbo';
  src: url('fonts/Carimbo.ttf');
  src: url('fonts/Carimbo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('fonts/Roboto-Regular.ttf');
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}